*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.page{
    background-color: #f1f1f1;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.navbar{
    height: 30px;
    background-color: #a8b8d0;
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content:space-around;
    align-items: center;
    z-index: 100;
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
  }

.photo{
    background-color: #black;
    width: 210px;
    height: 210px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

.photo1 img{
    width: 100%;
}

.kotak{
    background-color: #d9d9d9;
    width: 80vw;
    height: 0.5vh;
}

h1{
    font-family: Arial;
    font-size: 40px;
}

h2{
    font-family: Arial;
    font-size: 20px;
}